@import "../abstracts/variable";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a.see-more:visited {
    color: $color-dark-gray;
}

img {
    max-width: 100%;
    height: auto;
}

cite {
    font-style: normal;
}

