@import "../abstracts/mixins";

.detail-movie {

    height: $size-302px;
    background: linear-gradient(0deg, rgba($color-very-darker-blue, 0.1), rgba($color-very-darker-blue, 0.1)), url("../img/films/detail/spider-man.png");
    background-position-y: -($size-12px + 46px);
    background-repeat: no-repeat;

    .video {
        color: $color-white;
        height: ($size-302px)-90px;
        font: {
            family: "Mulish", sans-serif;
            weight: $size-700;
            size: $size-12px;
        }
        @include flex(center, center, column, nowrap, (($size-12px)-2px));

        .circle {
            cursor: pointer;
            background-color: $color-white;
            height: $size-12px + 33;
            width: $size-12px + 33;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("../img/icons/play.svg");
        }
    }

    .main {
        margin-top: -($size-12px + 16px);
        background-color: $color-white;
        height: calc(812px - 292px);
        overflow: auto;
        border-radius: 10px 10px 0 0;
        padding: $size-12px * 2;

        .rating {
            margin-bottom: 18.72px;
        }

        .film-info {
            @include flex(flex-start, center, row, nowrap, ($size-12px + 52));
            margin-bottom: $margin-bottom-30px;

            dl {
                font: {
                    size: $size-12px;
                    family: "Mulish", sans-serif;
                }

                dt {
                    font-weight: ($size-700) - 300;
                    margin-bottom: 6px;
                    color: $color-darker-gray;
                }

                dd {
                    font-weight: ($size-700) - 100;
                }
            }
        }

        .description {
            margin-bottom: ($margin-bottom-30px) - 2;

            p {
                line-height: $size-12px + 10;
                letter-spacing: 0.02em;
                color: $color-darker-gray;
                margin-top: ($margin-top-16px) - 2;

                font: {
                    family: 'Mulish', sans-serif;
                    weight: ($size-700) - 300;
                    size: $size-12px;
                }
            }
        }

        .cast-actors {
            @include flex(flex-start, flex-start, row, wrap, $size-12px);
            color: $color-darker-blue;

            font: {
                size: $size-12px;
                family: "Mulish", sans-serif;
                weight: ($size-700) - 300;
            }

            img {
                border-radius: ($size-12px) - 7;
            }

            figcaption {
                margin-top: 2.8px;
                display: block;
                width: $size-12px * 6;
            }
        }

    }
}