article.payments-content {
    padding-top: $p-20 - 2;
    @include flex(null, null, null, 2rem);

    article.payment {
        width: unquote("min(42.691%, 146px)");
        height: 182px;
        border-radius: 24px;
        padding: unquote("min(7.02%, 24px)");
        background-color: $secondary-color;
        @include flex(null, null, column, 10px);

        div.icon-area {
            order: 0;
            width: 48px;
            height: 48px;
            background-color: $primary-color;
            padding: 14.4px;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        div.payment-total {
            order: 3;
            font: {
                size: 20px;
                weight: 700;
            };
        }
    }
}

