/* ************ Font Size *********** */
$size-12px: 12px;
$size-302px: 302px;
$size-700: 700;

/* ************ Margin *********** */
$margin-top-16px: 16px;
$margin-bottom-30px: 30px;

/* ************ Colors *********** */
//Primary
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #F8F8F8;

//Dark Gray
$color-dark-gray: #AAA9B1;
$color-darker-gray: #9C9C9C;

//Light Blue
$color-light-blue: #88A4E8;
$color-whiter-blue: #E5E4EA;
$color-lighter-blue: #DBE3FF;

//Dark Blue
$color-dark-blue: #2B2D67;
$color-darker-blue: #110E47;
$color-very-darker-blue: #110E47;