@import "../abstracts/mixins";

.popular-films, .trend-films {
    @include xl{
        @include flex(flex-start, flex-start, row, wrap, 16px);
    }
    
    article {
       @include xl{
            width: ($size-302px) - 160px;

            .genre, .duration {
                display: none;
            }
       }
    }
}

.article-trends {
    @include xs{
        display: none;
    }
}

.section-favorites {
    article {
        @include xl {
         padding-top: 18px;
         @include flex(space-between, flex-start, row, nowrap)  
        }
        a {
            @include xs {
                height: 128px;
            }
             @include xl {
                @include flex(flex-start, flex-start, row, nowrap, ($size-12px + 38));
             }
        }
        a.remove-film {
            @include xs {
                display: none;
            }
        }
    }
}