@import "../abstracts/mixins";
@import "../components/film";

@include xs {
    aside {
        display: none;
    }
}

@include xl{
    aside {
        // section {
        //     height: 564px;
        // }
        article {
            margin: 0 !important;
            height: 132px;
        }
        a {
            @include flex(flex-start, flex-start, row, nowrap, ($size-12px + 6));
        }
    }
}