header {
    height: $size-12px + 8;
    margin-bottom: $size-12px + 4;

    h1 {
        font: {
            size: $size-12px + 4;
            family: "Merriweather";
        }

        color: $color-darker-blue;
    }
    @include flex(space-between, center, row, nowrap);
}

.detail-movie {
    h1 {
        color: $color-black;

        font: {
            size: $size-12px + 8;
            family: "Mulish", sans-serif;
            weight: $size-700;
        }
    }

    h2,
    h3 {
        color: $color-darker-blue;
        font-family: "Merriweather";
        font-size: $size-12px + 4;
    }
}