@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");

@font-face {
    font-family: "Merriweather";
    src: url("../../../assets/font/Merriweather-Black.ttf")
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ul,
li {
    list-style: none
}

a {
    text-decoration: none
}

a:visited {
    color: black
}

a.see-more:visited {
    color: #AAA9B1
}

img {
    max-width: 100%;
    height: auto
}

cite {
    font-style: normal
}

@media (min-width: 376px) and (max-width: 1920px) {
    .favorites {
        display: block !important
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .favorites .header {
        margin-bottom: 6px !important
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .favorites .header .see-more {
        display: none
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .favorites .header .clear-all {
        display: block
    }
}

@media (max-width: 376px) {
    .favorites .header .clear-all {
        display: none
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .favorites .img-film .img-film-mobile {
        display: none
    }
}

@media (max-width: 376px) {
    .favorites .img-film .img-film-desktop {
        display: none
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie {
        width: 100%
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .nav {
        width: 62%;
        margin-right: auto;
        margin-left: auto
    }
}

@media (max-width: 376px) {
    .detail-movie .nav .logo {
        display: none
    }
}

@media (max-width: 376px) {
    .detail-movie .nav .icon-notif {
        display: none
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .main {
        margin: auto
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .main-head {
        width: 100%
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .main-head .film-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 30px;
        position: relative;
        margin-bottom: 22px
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .main-head .film-title a {
        position: absolute;
        right: 0
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .main-head .film-title a img {
        width: 18px;
        height: 24px
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .main .description {
        margin-top: -30px;
        margin-bottom: 26px
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .main .cast {
        width: 100%
    }
}

.film-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 64px;
    margin-bottom: 30px
}

.film-info dl {
    font-size: 12px;
    font-family: "Mulish", sans-serif
}

.film-info dl dt {
    font-weight: 400;
    margin-bottom: 6px;
    color: #9C9C9C
}

.film-info dl dd {
    font-weight: 600
}

.description {
    margin-bottom: 28px
}

@media (min-width: 376px) and (max-width: 1920px) {
    .description {
        margin-bottom: 0
    }
}

.description p {
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #9C9C9C;
    margin-top: 14px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 12px
}

.cast-actors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 12px;
    color: #110E47;
    font-size: 12px;
    font-family: "Mulish", sans-serif;
    font-weight: 400
}

@media (max-width: 376px) {
    .cast-actors .cast-actor.mobile~.cast-actor.desktop {
        display: none
    }
}

.cast-actors img {
    border-radius: 5px
}

.cast-actors figcaption {
    margin-top: 2.8px;
    display: block;
    width: 72px
}

@media (max-width: 376px) {
    .nav {
        padding: 0 24px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 0;
        height: 60px;
        background-color: #fff;
        position: -webkit-sticky;
        position: sticky;
        top: 0
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .nav {
        width: 58.8%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 48px;
        margin-bottom: 54px
    }
}

.nav a,
.nav .logo {
    font-size: 24px;
    font-family: "Merriweather";
    color: #110E47
}

@media (min-width: 376px) and (max-width: 1920px) {
    .nav .icon-left {
        display: none
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .nav .logo {
        margin-right: auto
    }
}

.nav .icon-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 22px
}

@media (max-width: 376px) {
    .nav .icon-right .icon-bookmark {
        display: none
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .nav .icon-right .icon-bookmark {
        width: 24px;
        height: auto
    }
}

.nav .icon-right .icon-bookmark img {
    width: 100%
}

@media (min-width: 376px) and (max-width: 1920px) {
    .nav .icon-right .icon-notif {
        width: 36px;
        height: auto
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .nav .icon-right .icon-notif .notif-gray-bold {
        display: none
    }
}

@media (max-width: 376px) {
    .nav .icon-right .icon-notif .notif-gray-solid {
        display: none
    }
}

.nav .icon-right .avatar {
    display: inline-block;
    width: 80px;
    height: auto
}

@media (max-width: 376px) {
    .nav .icon-right .avatar {
        display: none
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .nav .icon-right .avatar {
        max-width: 100%;
        height: auto
    }
}

.nav .icon-right .avatar img {
    width: 100%;
    height: 100%
}

@media (min-width: 376px) and (max-width: 1920px) {
    .nav .icon-right .icon-menu-union {
        display: none
    }
}

.detail-movie {
    height: 302px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 14, 71, 0.1)), to(rgba(17, 14, 71, 0.1))), url("../img/films/detail/spider-man.png");
    background: linear-gradient(0deg, rgba(17, 14, 71, 0.1), rgba(17, 14, 71, 0.1)), url("../img/films/detail/spider-man.png");
    background-position-y: -58px;
    background-repeat: no-repeat
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 14, 71, 0.1)), to(rgba(17, 14, 71, 0.1))), url("../img/films/detail/spider-man-banner.png");
        background: linear-gradient(0deg, rgba(17, 14, 71, 0.1), rgba(17, 14, 71, 0.1)), url("../img/films/detail/spider-man-banner.png");
        height: 610px
    }
}

.detail-movie .nav {
    background-color: transparent;
    position: static
}

@media (max-width: 376px) {
    .detail-movie .nav {
        margin: 0
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .nav .logo a {
        font-size: 24px;
        color: #fff
    }
}

.detail-movie .video {
    color: #fff;
    height: 212px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 10px
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .video {
        height: 302px
    }
}

.detail-movie .video .circle {
    cursor: pointer;
    background-color: #fff;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icons/play.svg")
}

.detail-movie .main {
    background-color: #fff;
    height: calc(812px - 300px);
    overflow: auto;
    border-radius: 10px 10px 0 0;
    padding: 24px
}

@media (min-width: 376px) and (max-width: 1920px) {
    .detail-movie .main {
        border-radius: 20px 20px 0px 0px;
        margin-top: 74px
    }
}

@media (max-width: 376px) {
    .detail-movie .main {
        margin-top: -28px
    }
}

header,
.main .header {
    height: 20px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 0
}

header h1,
.main .header h1 {
    font-size: 16px;
    font-family: "Merriweather";
    color: #110E47
}

.detail-movie h1 {
    color: #000;
    font-size: 20px;
    font-family: "Mulish", sans-serif;
    font-weight: 700
}

.detail-movie h2,
.detail-movie h3 {
    color: #110E47;
    font-family: "Merriweather";
    font-size: 16px
}

film article,
.main section article {
    margin-top: 16px
}

@media (min-width: 376px) and (max-width: 1920px) {

    film article,
    .main section article {
        margin: 0 !important
    }
}

@media (max-width: 376px) {

    film article a,
    .main section article a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 18px
    }
}

@media (max-width: 376px) {

    film article a .img-film,
    .main section article a .img-film {
        width: 85px;
        height: 128px
    }
}

film article a img,
.main section article a img {
    border-radius: 5px
}

film article a .description,
.main section article a .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px
}

@media (min-width: 376px) and (max-width: 1920px) {

    film article a .description,
    .main section article a .description {
        gap: 10px
    }
}

film article a .description cite,
.main section article a .description cite {
    letter-spacing: 0.02em;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700
}

film article a .description .duration time,
.main section article a .description .duration time {
    font-size: 12px;
    font-family: "Mulish"
}

.main {
    overflow: auto;
    padding: 0 24px;
    background-color: #fff
}

@media (min-width: 376px) and (max-width: 1920px) {
    .main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 0;
        width: 1134px;
        height: 770px;
        padding: 24px 50px;
        border-radius: 10px
    }
}

@media (min-width: 376px) and (max-width: 1920px) {

    .popular-films,
    .trend-films {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 16px
    }
}

@media (min-width: 376px) and (max-width: 1920px) {

    .popular-films article,
    .trend-films article {
        width: 142px
    }

    .popular-films article .genre,
    .popular-films article .duration,
    .trend-films article .genre,
    .trend-films article .duration {
        display: none
    }
}

@media (max-width: 376px) {
    .article-trends {
        display: none
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .section-favorites article {
        padding-top: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 0
    }
}

@media (max-width: 376px) {
    .section-favorites article a {
        height: 128px
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    .section-favorites article a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 50px
    }
}

@media (max-width: 376px) {
    .section-favorites article a.remove-film {
        display: none
    }
}

film article,
.main section article {
    margin-top: 16px
}

@media (min-width: 376px) and (max-width: 1920px) {

    film article,
    .main section article {
        margin: 0 !important
    }
}

@media (max-width: 376px) {

    film article a,
    .main section article a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 18px
    }
}

@media (max-width: 376px) {

    film article a .img-film,
    .main section article a .img-film {
        width: 85px;
        height: 128px
    }
}

film article a img,
.main section article a img {
    border-radius: 5px
}

film article a .description,
.main section article a .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px
}

@media (min-width: 376px) and (max-width: 1920px) {

    film article a .description,
    .main section article a .description {
        gap: 10px
    }
}

film article a .description cite,
.main section article a .description cite {
    letter-spacing: 0.02em;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700
}

film article a .description .duration time,
.main section article a .description .duration time {
    font-size: 12px;
    font-family: "Mulish"
}

@media (max-width: 376px) {
    aside {
        display: none
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    aside article {
        margin: 0 !important;
        height: 132px
    }

    aside a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 18px
    }
}

@media (max-width: 376px) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
        -webkit-box-shadow: 0px 0px 8px rgba(43, 45, 103, 0.08);
        box-shadow: 0px 0px 8px rgba(43, 45, 103, 0.08)
    }

    footer .bottom-navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 0;
        height: 60px;
        padding: 18px 56px
    }

    footer .home-indicator {
        height: 34px;
        text-align: center;
        padding: 16px;
        margin-top: 11px;
        padding-top: 8px
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    footer {
        display: none
    }
}

.genre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px
}

.genre .category {
    background-color: #DBE3FF;
    color: #88A4E8;
    padding: 4px 12px;
    border-radius: 100px;
    font-family: "Mulish", sans-serif;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase
}

film article,
.main section article {
    margin-top: 16px
}

@media (min-width: 376px) and (max-width: 1920px) {

    film article,
    .main section article {
        margin: 0 !important
    }
}

@media (max-width: 376px) {

    film article a,
    .main section article a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 18px
    }
}

@media (max-width: 376px) {

    film article a .img-film,
    .main section article a .img-film {
        width: 85px;
        height: 128px
    }
}

film article a img,
.main section article a img {
    border-radius: 5px
}

film article a .description,
.main section article a .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px
}

@media (min-width: 376px) and (max-width: 1920px) {

    film article a .description,
    .main section article a .description {
        gap: 10px
    }
}

film article a .description cite,
.main section article a .description cite {
    letter-spacing: 0.02em;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 700
}

film article a .description .duration time,
.main section article a .description .duration time {
    font-size: 12px;
    font-family: "Mulish"
}

.rating span {
    color: #9C9C9C
}

.rating span {
    font-size: 12px;
    font-family: "Mulish"
}

.see-more {
    font-family: "Mulish";
    font-size: 10px;
    padding: 4px 8px;
    color: #AAA9B1;
    border-radius: 102px;
    border: 1px solid #E5E4EA
}

@media (max-width: 376px) {
    body {
        background-color: #fff
    }
}

@media (min-width: 376px) and (max-width: 1920px) {
    body {
        background-color: #F8F8F8;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        gap: 0
    }
}

