.header {
    padding: 20px $p-24px;

    nav {
        ul {
            @include flex(space-between, null, null, null);

            li.logo {
                a {
                    color: $color-oxford-blue;

                    font: {
                        size: $fsize-12px + 4;
                        weight: 900;
                        family: 'Merriweather', serif;
                    }
                }
            }

            li[class*="desk-nav"], a[class*="desk-nav"] {
                display: none
            }
        }
    }
}

header.title {
    @include flex(space-between);

    h1, h2 {
        color: $color-oxford-blue;
        font: {
            size: $fsize-12px + 4;
            weight: 900;
            family: 'Merriweather', serif;
        }
    }

    span.remove-all {
        display: none;
    }
}