@import "../abstracts/variable";
@import "../abstracts/mixins";

.favorites {
    @include xl {
        display: block !important;
    }

    .header {
        @include xl {
            margin-bottom: 6px !important;
        }

        .see-more {
            @include xl {
                display: none;
            }
        }

        .clear-all {
            @include xl {
                display: block;
            }
        }

        .clear-all {
            @include xs {
                display: none;
            }
        }
    }

    .img-film {
        .img-film-mobile {
            @include xl {
                display: none;
            }
        }

        .img-film-desktop {
            @include xs {
                display: none;
            }
        }
    }
}