.see-more {
    font-family: "Mulish";
    font-size: ($size-12px) - 2;
    padding: 4px 8px;
    color: $color-dark-gray;
    border-radius: ($size-302px) - 200;
    border: 1px solid $color-whiter-blue;
}