footer {
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: #FFF;
    left: 0;
    bottom: 0;
    height: 60px;
    padding: 18px 56px;
    box-shadow: 0px 0px 8px rgba($color-midnight-blue, 0.08);
    @include flex(space-between, center);

    a {
        width: 24px;
        height: 24px;

        img {
            height: -webkit-fill-available;
        }
    }
}