div {
    width: 30%;
}

.descendat-selector {
    background-color: yellow;
    padding: 15px;
}

.descendat-selector p {
    background-color: lightseagreen;
    margin: 0;
}

.child-selector {
    background-color: black;
    padding: 15px;
}

.child-selector>p {
    background-color: red;
    color: white;
}

.first-elem {
    display: inline;
}

div+span {
    background-color: lightcoral;
}

.general-select~div {
    background-color: black;
    color: white;
    margin-bottom: 2px;
}