.genre {
    display: flex;
    gap: $size-12px - 4;

    .category {
        background-color: $color-lighter-blue;
        color: $color-light-blue;
        padding: 4px 12px;
        border-radius: $size-302px - 202;

        font: {
            family: "Mulish", sans-serif;
            size: ($size-12px) - 4;
            weight: $size-700;
        }

        text-transform: uppercase;
    }
}