@import "../abstracts/mixins";

film {
    article {   
        margin-top: $margin-top-16px;

        a {
            @include flex(flex-start, flex-start, row, nowrap, ($size-12px + 6));

            .img-film {
                width: 85px;
                height: 128px;
            }

            img {
                border-radius: 5px;
            }

            .description {
                display: flex;
                flex-direction: column;
                gap: ($size-12px) - 4;
                
                cite {
                    letter-spacing: 0.02em;
                    width: 118px;

                    font: {
                        family: "Mulish";
                        size: $size-12px + 2;
                        weight: $size-700;
                    }
                }

                .duration time {
                    font: {
                        size: $size-12px;
                        family: "Mulish";
                    }
                }

            }
        }
    }
}
