/* ************ Breakpoints *********** */
$screen-md-min: 768px;

/* ************ Font Size *********** */
$fsize-12px: 12px;

/* ************ Padding *********** */
$p-24px: 24px;

/* ************ Margin *********** */
$m-16: 16px;

/* ************ Colors *********** */
//Primary
$color-white: #FFFFFF;
$color-whiter: #F8F8F8;
$color-black: #000000;

//Dark-Gray
$color-smoke: #AAA9B1;
$color-pewter: #9C9C9C;

//Light-Blue
$color-sky-blue: #88A4E8;
$color-alice-blue: #E5E4EA;
$color-marian-blue: #DBE3FF;

//Dark-Blue
$color-midnight-blue: #2B2D67;
$color-oxford-blue: #110E47;